{{ define "main" }}
<section>
  <article>
    <header>
      <h1>
        {{ .Title }}
      </h1>
      <form class="consent">
        You can revoke consent and remove unique identifier at any time using the form below.
        <noscript>This form needs JavaScript enabled in the browser in order to work</noscript>
        <br><br>
        <input type="radio" id="agree" name="consent" value="agree">
        <label for="agree">I <b>allow</b> to store a unique identifier on my computer to track my visits to this site.</label>
        <br><br>
        <input type="radio" id="disagree" name="consent" value="disagree">
        <label for="disagree">I <b> don't allow</b> to store unique identifier on my computer.</label>
      </form>
      {{ .Content }}
    </header>
  </article>
</section>
{{ end }}