{{- $link := .Destination -}}
{{ $isRemote := (or (strings.HasPrefix $link "http") (strings.HasPrefix $link "ftp")) }}
{{ $isSubdomain := false }}
{{- if not $isRemote }}
  {{ $url := urls.Parse .Destination }}
  {{- if $url.Path }}
    {{ $fragment := "" }}
    {{- with $url.Fragment }}{{ $fragment = printf "#%s" . }}{{ end -}}
    {{- with .Page.GetPage $url.Path }}
      {{ $link = printf "%s%s" .RelPermalink $fragment }}
    {{ else }}
      {{- if hasSuffix $url.Path ".md" }}
        {{ $path := replaceRE `^(/content)(.+?)(/index\.md|\.md)$` "$2" $url.Path }}
        {{- with .Page.GetPage $path }}
          {{ $link = printf "%s%s" .RelPermalink $fragment }}
        {{ else }}
          {{ warnf "[CONGO] Can't resolve: %s" .Destination }}
        {{ end -}}
      {{ end -}}
    {{ end -}}
  {{ end -}}
{{ else }}
  {{ $isSubdomain = (or (strings.Contains  $link ".stereobooster.com") (strings.HasPrefix $link "https://github.com/stereobooster")) }}
{{ end -}}

<a href="{{ $link | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if $isRemote }} target="_blank" {{if $isSubdomain }}rel="noopener"{{ else }}rel="noopener nofollow"{{ end }}{{ end }}>{{- .Text | safeHTML -}}</a>