<!doctype html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    {{ partial "preload.html" . }}
    {{ partial "stylesheets.html" . }}
    {{ partial "seo.html" . }}
  </head>
  <body class="no-js">
    <div class="content">
      <div class="cookie" hidden>
          <p>
            Can we store cookies on your device? See <a href='{{ .Site.BaseURL }}privacy/'>Privacy Policy</a> for details.<br>
            <button type="button" class="cookie-yes">Yes</button> <button type="button" class="cookie-close">Close</button>
          </p>
        </div>
      {{ partial "nav.html" . }}
      {{ if .IsHome }}
        {{ partial "about.html" . }}
      {{ end }}
      {{ block "main" . }}{{ end }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>